@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h1>Шифратор вижинера</h1>
    <p class="lead">Данное приложение шифрует или нет</p>
</div>

<div class="row">
    <ul class="nav nav-tabs  " id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" aria-expanded="true">Текст</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Файл</a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade @ViewBag.firstActive" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container">
            @using (Html.BeginForm("Send", "Home", FormMethod.Post))
            {
                <div class="row" style="margin-top: 5px">

                    <label>Текст</label>
                    <textarea name="text"  class="form-control rounded-0 mb-3" id="exampleFormControlTextarea1" rows="10" maxlength="20000">@ViewBag.text</textarea>

                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-lg-6">
                        <label class="">Ключ</label>
                        <input name="key" class="form-control" value="@ViewBag.key"/>
                    </div>
                    <div class="col-lg-3" style="height: 100%">
                        <div class="radio">
                            <label><input name="isEncrypted" value="true"  type="radio" checked="checked">Расшифровать</label>
                        </div>
                        <div class="radio">
                            <label><input name="isEncrypted" value="false" type="radio">Зашифровать</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <input type="submit" class="btn  btn-secondary" value="Рассчитать"/>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <label>Результат</label>
                    <div name="result" style="min-height: 300px">
                        <span style="white-space: pre-line">@ViewBag.result</span>
                    </div>
                </div>
            }
            </div>

        </div>
        <div class="tab-pane fade @ViewBag.secondActive" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            @{
                ViewBag.Title = "Upload";
            }
            <h3>Выберите .docx файл для загрузки</h3>
            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <input type="file" name="upload" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <br>
                <input type="submit" value="Загрузить"/>
            }
        </div>

    </div>


</div>